.schoolsite{
    border: 2px solid aqua;
    width: 350px;
    height: 450px;
    
   
    
}

*{
    font-family: 'Poppins', sans-serif;
}

.ganaarbtn{
    text-align: center;
    font-size: 16px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    
}